<div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem *ngFor="let dataType of dataTypes" (click)="onSelect(dataType)">
          <a ngbNavLink>{{dataType}}</a>
          <ng-template ngbNavContent>
              <div *ngIf="content; else loading">
                <app-tabulator [data]="content"></app-tabulator>
              </div>
              <ng-template #loading>
                Loading...
              </ng-template>
          </ng-template>
        </li>
      </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>
