<table class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let col of tableColumns" scope="col">{{col | uppercase}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of data">
            <td *ngFor="let col of tableColumns">
                {{obj[col]}}
            </td>
        </tr>
    </tbody>
</table>